<!DOCTYPE html>
<html>
  <head>
    <title>The Baker's</title>
  </head>
  <body>
    <div class="banner">
    
    <div class="navbar"> 
      <br>
      <br>
      
      <ul>
        <li><a routerLink="/menu">MENU:</a></li>
        <br>
        <br>
        <li><a routerLink="/redwelvetcake">Red-welvetcake</a></li>
        <li><a routerLink="/plumcake">Plumcake</a></li>
        <li><a routerLink="/blackforestcake">Blackforestcake</a></li>
        <li><a routerLink="/cupcake">Cupcake</a></li>
        <router-outlet></router-outlet>
      </ul>
      </div>
      
      <div class="content">
        <h1>The Baker's</h1>
        <p class="word"> cake is a four letter of smile
          <br>
          Love at first bite.
        </p>
        
        <a routerLink="ordernow">Ordernow</a>
        <br>

        <button type="button"><span></span>Aboutus</button>
        <button type="button"><span></span>Contactus</button>

      </div>
      </div>
      
  </body>
</html>